# macOS
.DS_Store

# Xcode build output
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode per-user state
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
Package.resolved

# Build artifacts
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
